
<div class="info-search content-box0">
    <!--article搜索-->
    <div class="panel-body margin-bot-30">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 search-label">发布时间</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control" ng-model="startAt" id="startAt">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 search-label">—</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control" ng-model="endAt" id="endAt">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 search-label">类&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp型</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="infoParams.type">
                            <option value="">全部</option>
                            <option value="0">首页banner</option>
                            <option value="1">找职位Banner</option>
                            <option value="2">找精英Banner</option>
                            <option value="3">行业大图</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 search-label">状&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp态</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="infoParams.status">
                            <option value="">全部</option>
                            <option value="2">在线</option>
                            <option value="1">草稿</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <div class="">
                    <button type="button" class="btn btn-warning" ng-click="reset()">清空</button>
                    <button type="button" class="btn btn-primary margin-left-10" ng-click="search()">搜索</button>
                </div>
            </div>
        </div>

    </div>
    <!--article列表-->
    <div class="panel-body">
        <div class="panel-heading table-border ">
            <strong>Article列表</strong>
            <button class="btn btn-xs btn-primary pull-right" ng-click="addEdit()">+新增</button>
        </div>

        <div class="panel-table">
            <div class="panel-table-content">
                <table class="table table-border table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>类型</th>
                        <th>发布时间</th>
                        <th>修改时间</th>
                        <th>发布者</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in article">
                        <td>{{x.id}}</td>
                        <td>{{x.title}}</td>
                        <td>{{x.type | typeFilter}}</td>
                        <td>{{x.createAt | date: "yyyy-MM-dd HH:mm:ss"}}</td>
                        <td>{{x.updateAt | date: "yyyy-MM-dd HH:mm:ss"}}</td>
                        <td>{{x.author}}</td>
                        <td>{{x.status | statusFilter}}</td>
                        <td>
                            <button class="btn btn-xs btn-default" ng-click="changeStatus(x.id,x.status)">{{x.status | lineFilter}}</button>
                            <button class="btn btn-xs btn-default" ng-click="addEdit(x.id)">编辑</button>
                            <button class="btn btn-xs btn-default" ng-click="delData(x.id)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--底部翻页功能-->
        <div class="pull-right">
            <ul class="pagination">
                <li><button class="btn btn-primary" ng-click="firstPage()">首页</button></li>
                <li><button class="btn btn-primary" ng-click="prePage()">上一页</button></li>
                <li ng-repeat="x in article_page"><button class="btn btn-primary margin-3 " ng-click="jumpPage(x)">{{x}}</button></li>
                <li><button class="btn btn-primary" ng-click="nextPage()">下一页</button></li>
                <li><button class="btn btn-primary" ng-click="lastPage()">尾页</button></li>
                <li>
                    去第
                    <input type="text" class="tac form-xs" ng-model="infoParams.page" maxlength="2">
                    页
                    <button class="btn btn-primary" ng-click="inputPage()">Go</button>
                </li>
            </ul>
        </div>
    </div>
</div>


