

<div class="login-bgc">
    <div class="container">
        <div class="row log-main">
            <div class="log-table col-xs-9 col-sm-6 col-md-4 col-lg-4">
                <h4>EAV后台登录系统</h4>
                <div class="content1">
                    <input id="result1" class="write-user" type="text" name="Name" placeholder="user" ng-model="params.name">
                </div>
                <div class="content1">
                    <input id="result2" class="write-code" type="password" name="Password" placeholder="code" ng-model="params.pwd">
                </div>
                <div id="alert1"></div>
                <button type="button" class="btn login-btn" id="sign-in" ng-click="login()">登录</button>
            </div>
        </div>
    </div>
</div>
