* {
    font-size: 62.5%;
    background-color: #ffffff;
}

body {
    max-width: 414px;
    margin: 0 auto;
}
.box0 {
    padding: 1% 0 0 1%;
}
.box {
    background-color: #ff7f00;
    margin: 1.5%;
    padding: 30% 0 0 0  ;
    width: 30%;
    float: left;
    border-radius: 20px;
    /*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
}

.flash {
    background-color: #ffffff;
    width: 100%;
    height: 4rem;
    /*box-shadow: 0 0 5px rgba(0,0,0,.1);*/
    cursor: pointer;
    border-radius: 10px;
    margin-top: 1rem;
    border: 1px solid #ff7f00;
    transition: background-color 600ms;
}

.flash:hover {
    background-color: #ff7f00;
    color: #ffffff;
}

button {
    /*background-color: #ff7f00;*/
    color: #ff7f00;
    font-size: 1.8rem;
}
