$border: 1px solid;

main {
  background-color: #29bde0;
  height: 45rem;
  position: relative;
  top: 4rem;
}

.content {
  background-color: #29bde0;
  overflow: hidden;
  //padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 4rem;
  //display: flex;
  //flex-wrap: wrap;
}
.content-box {
  //width: 27%;
  margin: 3%;
}
.content-box1 {
  //flex: 0 0 50%;
  float: left;
  margin: 3%;
  background: #f5c97b;
  border: 4px solid white;
}
.content1 {
  text-align: center;
  font-size: 2rem;
  padding: 58px;
}
.number1 {
  text-align: center;
  font-size: 1.6rem;
  background: #83b09a;
  margin: 0;
  color: #ffffff;
}

footer {
  background: #29bde0;
}